<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Pagina de inicio</title>
</head>
<body>
    <h1>Bienvenido, <%= usuarios.nombre %></h1>

    <h1>Tareas</h1>
    <table class="table">
        <thead>
            <th>Tarea</th>
            <th>Fecha Inicio</th>
            <th>Fecha Vencimiento</th>
        </thead>
        <tbody>
            <% for (var i=0; i<tareas.length; i++) { %>
                <tr>
                    <td><%= tareas[i].nombre %></td>
                    <td><%= tareas[i].fec_ini %></td>
                    <td><%= tareas[i].fec_venc %></td>
                </tr>
            <% } %>
        </tbody>
    </table>

</body>
</html>